*
{
    box-sizing: border-box;
}

body {
    background-image: url('/img/pink.webp');
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
        color: rgb(74, 15, 63);

}

.done {
    text-decoration: line-through;
}

.todo-filter {
    padding: 1em;
}

.stat {
    padding: 1em;
    margin: .5em 0;
}
.create-at{
    font-style: italic;
    font-size: small;
}
.todo-sorting{
    padding: 1em;
}
.todo-container{
    width: 500px;
    margin: auto;
    background-color: whitesmoke;
    border-radius: 20px;
}
.todo-header{
    height: 5em;
}

li{
    list-style-type: circle;
    text-align: left;
    padding: 10px;  
    background-color: mistyrose;
    width: 350px;
    padding-right: 20px;
}
.todo-input{
    height: inherit;
}

form{
    padding-top: 10px;
}

input{
    width: 12rem;
    padding-top: 2px;
}

.btn
{
    background-color: rgb(205, 3, 144);
    border : none;
    border-radius: 50%;
    height: 30px;
    color: aliceblue;
    font-size: medium;
}
h1{
    padding: 20px;
}
.btn-remove{
    margin-left: 80%;
}

ul{
    margin-left: 40px;
}
